//foodinfo styles

.foodinfo {

   &__wrapper {

   }

   &__title {
      color: #eb6262;
      margin: 30px auto 10px;
   }

   &__desc {
      font-size: 18px;
      line-height: 34px;
      color: #605f5f;
      font-family: 'Montserrat', sans-serif;
   }

   &__image {
      &--short {
         height: 185px;
      }
   }

   &__imagecaption {

      width: auto;
     position: absolute;
     z-index: 99;
     top: 0px;
     background-color: white;
     padding: 13px 24px 13px 13px;

     span.arrow {
        margin-top: 8px;
     }

      a {
         color: #605f5f;
         font-size: 20px;
         font-family: 'Montserrat', sans-serif;
         text-transform: uppercase;
      }

   }

   ul {
      margin: 0px;
      padding: 0px;
      font-family: 'Montserrat', sans-serif;
   }

   &__link {
      margin-bottom: 10px;

      a {
         color: #605f5f;
         font-family: 'Montserrat', sans-serif;
      }
   }
}


.seasonlinks {

   list-style: none;
   padding: 0px;
   margin: 0px;


   li {
      width: 100%;
      border-bottom: 4px solid #e9eaea;
      padding: 13px 13px 13px 24px;


      &:last-child {
         border-bottom: 0px;
      }

      a {
         color: #605f5f;
         font-family: 'Montserrat', sans-serif;
         font-size: 20px;
         letter-spacing: 1px;
         text-transform: uppercase;
         text-decoration: none;
         display: block;
         margin-top: 3px;
      }
   }

}


span.arrow {
   display:block;
   float: left;
   margin-top: 10px;
   margin-right: 15px;
   border-top: 8px solid transparent;
   border-bottom: 8px solid transparent;
   border-left: 8px solid #eb6262;
}
