//global styles
img {
   width: 100%;
   max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
}

h1 {
   color: #eb6262;
   font-size: 46px;
   line-height: 50px;
   margin-top: 100px;
}

h2 {
   color: #eb6262;

   &.rightcol {
      margin-left: 10%;
   }
}

p, a {
   font-family: 'PT Sans', sans-serif;
}


li {
   color: white;
   list-style: none;

   a {
      color: white;
      text-decoration: underline;
      -o-transition: color 0.5s linear;
      -moz-transition: color 0.5s linear;
      -khtml-transition: color 0.5s linear;
      -webkit-transition: color 0.5s linear;
      -ms-transition: color 0.5s linear;
      transition: color 0.5s linear;

      &:hover {
         color: #efefef;
      }
   }
}


.cal {

   &__container {
     padding: 14px;
     background-color: white;
     margin-bottom: 40px;

     -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.35);
     -moz-box-shadow:    0px 4px 12px rgba(0, 0, 0, 0.35);
     box-shadow:         0px 4px 12px rgba(0, 0, 0, 0.35);

     margin-top: 14px;

     .row {
        margin-bottom:14px;

        &:last-child {
           margin-bottom: 0px;
        }

        &:first-child {
           position: relative;
           overflow: hidden;
        }
     }

     .large-3 {
        overflow: hidden;
     }

     .medium-5 {
        float: right;
         position: absolute;
         height: 100%;
         min-height: 100%;
         right: 0px;
     }
   }


   &__leftcol {
      padding: 7% 8%;
   }

   &__rightcol {
      padding: 1%;
      margin-left: 10%;
   }

   &__links {
      padding: 0;
   }

}
