//mixins

$summer		 : #c75b66;
$autumn	    : #6c4156;
$winter		 : #44948a;
$spring	    : #cba467;

@mixin season_colors() {

   &.autumn {
      background-color: $autumn;
   }

   &.summer {
      background-color: $summer;
   }

   &.winter {
      background-color: $winter;
   }

   &.spring {
      background-color: $spring;
   }

}
