//Panel styles
.season {

   &__wrapper {
      position: relative;
      height: 100%;
      min-height: 100%;
   }

   // &__image {
   //    img {
   //       position: absolute;
   //    }
   // }

   &__content {

      position: relative;
      height: 100%;
      min-height: 100%;

      @include season_colors();
      padding: 6px 15px;
      color: white;
      display: flex;
      flex-direction: column;

      &__flex {
         flex-direction: column;
      }

      &--title {
         color: white;
         text-transform: capitalize;
      }

      &--para {

      }

      ul {
         padding: 0px;
         margin: 0px;
      }

      &--link {
         color: white;
         list-style: none;

         a {
            color: white;
            text-decoration: underline;
         }
      }

   }

}
