/***********************/
/***responsive styles***/
/***********************/



// Small screens

@media only screen and (max-width: 40em) {

   .foodinfo__image--short {
     height: auto;
   }

   .cal__rightcol {
      margin-left: 0px;
   }

   h2.rightcol {
      margin-left: 0px;
   }

   body {
      background: #f3fee9 url('../img/asparagus.jpg') 125px -60px no-repeat;
      background-size: 100%;
   }

   h1 {
      font-size: 33px;
      line-height: 36px;
   }

   .foodinfo__desc {
      font-size: 14px;
      line-height: 24px;
   }

   .foodinfo__link a {
      font-size: 14px;
   }

   .cal__rightcol {
      margin-bottom: 25px;
   }

   .seasonlinks li a {
      font-size: 18px;
   }

   span.arrow {
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #eb6262;
   }

   .foodinfo__imagecaption span.arrow {
     margin-top: 10px;
   }

   .search__container {
      margin-bottom: 15px;
   }

   .cal__container .row {
     margin-bottom: 0px;
   }

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */


// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

   body {
      background: #f3fee9 url('../img/asparagus.jpg') 430px -100px no-repeat;
      background-size: 55%;
   }


   .foodinfo__image--short {
     height: auto;
   }

   .cal__rightcol {
      margin-left: 0px;
   }

   h2.rightcol {
      margin-left: 0px;
   }

   .search__container {
      margin-bottom: 15px;
   }

   .cal__container .row {
     margin-bottom: 0px;
   }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


@media only screen and (max-width: 64.063em) {} /* min-width 1025px, large screens */

// Large screens
@media only screen and (min-width: 64.063em) {} /* min-width 1025px, large screens */
