//Search section

.search {

   &__wrapper {
      text-align: justify;
      min-width: 100%;
      font-size: 0.1px;

      &:after {
        content: '';
        width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
        display: inline-block;
      }
   }

   &__container {
      position: relative;

      img {
         width: 100%;
      }
   }

   &__title {
      text-align: center;
      position: relative;
      width: 100%;
      height: 30px;
      margin-top: -30px;

      @include season_colors();

      a {
         color: white;
         font-size: 15px;
         text-transform: uppercase;
         font-family: 'Montserrat', sans-serif;
         padding-top: 5px;
         display: block;
      }
   }

}
